footer{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 100px;
    padding: 50px 0;
    background-color: #f1f1f1;

    .logo{
        img{
            width: 50px;
        }
    }

    .links{
        display: flex;
        gap: 100px;
        .section{
            display: flex;
            flex-direction: column;

            a{
                padding: 20px;
                text-decoration: none;
                color: $grayishBlue;
                font-weight: 600;

                &:hover{
                    color: $strongCyan;
                }
            }
        }
    }

    .social{
        display: flex;
        gap: 20px;

        a{
            img{
                cursor: pointer;
                &:hover{
                    filter: invert(52%) sepia(99%) saturate(314%) hue-rotate(121deg);
                }
            }
        }
    }

    @media (max-width: 1280px) {
        flex-direction: column;

        .links{flex-direction: column;
            margin: 30px 0;
        gap: 0px;}

    }
}