
.header {
    background: url('../images/bg-header-desktop.png');
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center;
    
    @include section-flex;
    @include title-and-description(36px, 50%);

    @include btns;
}

@media (max-width: 768px) {
    .header{
        &_description{
            width: 90%;
        }
    }
}