$strongCyan: hsl(171, 66%, 44%);
$strongCyanTransparent: hsla(171, 66%, 44%, 0.7);
$lightBlue: hsl(233, 100%, 69%);
$lightBlueTransparent: hsla(233, 100%, 69%, 0.7);
$darkGrayishBlue: hsl(210, 10%, 33%);
$grayishBlue: hsl(201, 11%, 66%);

$fontSize: 18px;
$fontFamily: 'Bai Jamjuree', sans-serif;